.row {
    display: flex;
    .item {
        flex: 1;
        outline: solid 1px red;
        width: 25px;
        height: 25px;
        padding: 2px;
        display: flex;
        align-self: center;
        justify-content: center;
    }
}