.row {
    display: flex;
    justify-content: space-between;
    .item {
        border: solid 1px red;
        width: 25px;
        // height: 25px;
        padding: 2px;
        margin: 5px;
        display: flex;
        align-self: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }
}